.footer-container {
  display: block;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin-bottom: 0px;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subfooter {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
}

.social-connect {
  color: var(--foreground-color);
}

.social-title {
  font-size: 32px;
}

.social-links {
  font-size: 22px;
}

.social-link {
  display: flex;
  gap: 5px;
}

.icon-name {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer-copyright {
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.icon {
  cursor: pointer;
}

.sub-title {
  font-size: 24px;
}

.a-tag {
  color: white;
}

.connect-icon {
  height: 45px;
}

.connect-icon-ctn {
  display: flex;
  justify-content: left;
  gap: 1rem;
  font-size: 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .footer-container {
    padding: 15px;
    display: flex;
    color: white;
    font-size: 14px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .connect-icon-ctn {
    display: flex;
    justify-content: left;
    gap: 1rem;
    font-size: 1rem;
  }

  .subfooter {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .connect-icon {
    height: 30px;
  }
}

@media (max-width: 1000px) {
  .footer-container {
    margin-bottom: 60px;
  }
}
