@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  height: fit-content;
}

:root {
  --background-color: #009bd6;
  --foreground-color: #3600a9;
  --primary-color: #27007c;
  --text-color: black;
}

@keyframes blink { 50% { opacity: 0; } }
.animate-blink { animation: blink 0.7s infinite; }