.register-container{
    background-color: var(--foreground-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
}

.register-form{
    background-color: var(--foreground-color);
    height: fit-content;
    font-size: 22px;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-form label{
    display: flex;
    width: 100%;
}

.register-form input, textarea{
    width:600px;
    height: 40px;
}

.register-form select, option{
    background-color: #ffffff;
    width:600px;
    height: 40px;
    border-radius: 3px;
}

.register-title-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-title{
    font-size: 32px;
}

/* for some middle ground */
@media screen and (max-width: 1500px) {
    .register-container{
        background-color: var(--foreground-color);
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;
    }

    .register-form input, textarea{
        width:300px;
        height: 40px;
    }

    .register-form select, option{
        width:300px;
        height: 40px;
    }

    .register-form{
       margin-left: 20px;
       margin-top: 40px;
       height: 500px;
    }

    .register-title{
        font-size: 28px;
        margin-top: 40px;
    }
}

/* for mobiles */
@media screen and (max-width: 600px) {

}